{{#component "ember-async-component@suspense-component" promise=this.promise blockRender=false as |task|}}
  {{#if task.isLoading}}
    Loading...
  {{else if task.isSuccess}}
    {{task.data.userRequest.name}}: {{task.data.userRequest.time}}
  {{else if task.isError}}
    Error occurred: {{task.errorReason}}
  {{/if}}
{{/component}}

<button type="button" onclick={{action "refreshModel"}}>Refresh</button>
<button type="button" onclick={{action "propChangeReRender"}}>Change Promise</button>
